@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body {
	background: linear-gradient(to right bottom, #43cea2, #185a9d);
	background-attachment: fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #354548;
	font-family: sans-serif;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to right bottom, #43cea2, #185a9d);
}

a {
	text-decoration: none;
	color: #354548;
}

a:hover {
	text-decoration: none;
	color: black;
}

.app_container {
	padding-top: 50px;
}

.app_row {
	height: 86vh;
}

.app_main-content {
	background-color: #fff;
	border-radius: 20px;
	padding: 25px 15px;
	box-shadow: 0 0 8px rgb(61, 61, 61);
}

.sidebar {
	background-color: #fff;
	height: 100%;
	border-radius: 20px;
	padding: 25px 15px;
	box-shadow: 0 0 8px rgb(61, 61, 61);
	text-align: center;
}

.sidebar_avatar {
	height: 110px;
	width: 100px;
	object-fit: contain;
	border-radius: 30px;
	margin: auto;
}

.sidebar_icon {
	width: 25px;
	height: 25px;
}

.sidebar_name {
	font-family: Kaushan Script;
	font-size: 1.7rem;
	margin: 20px 0;
}

.sidebar_name > span {
	color: #185a9d;
}

.sidebar_item {
	margin-bottom: auto;
	padding-top: 6px;
	height: 40px;
	font-size: 1.05rem;
	border-radius: 30px;
}

.sidebar_title {
	background-color: #f1f1f1;
	border-radius: 30px;
	font-weight: bold;
}

.sidebar_title > span {
	color: #185a9d;
}

.sidebar_contact {
	display: flex;
	flex-direction: column;
	padding: 2px 0;
	margin: 0;
	align-items: flex-start;
}

.sidebar_email {
	background: linear-gradient(to right bottom, #43cea2, #185a9d);
	border-radius: 30px;
	color: #fff;
	margin: 15px 10px;
	cursor: pointer;
	transition: all 0.3s linear;
}

.sidebar_resume {
	margin-top: 20px;
	font-weight: 500;
}

.sidebar_location {
	margin-top: 7px;
}

.sidebar_github:nth-of-type(1) {
	margin-top: 20px;
}

.sidebar_email:hover {
	transform: scale(1.2);
}

.sidebar_github:hover,
.sidebar_resume:hover {
	background-color: #f1f1f1;
	color: #000;
	width: 200px;
}

@media (max-width: 991px) {
	.app_main-content {
		margin: 30px 0;
	}
}

/* navbar */

.navbar_items {
	display: flex;
}

.navbar_active {
	font-size: 2rem;
	font-weight: 700;
	color: #354358;
	border-bottom: 4px solid #43cea2;
}

.navbar_item {
	margin-right: 20px;
	text-decoration: none;
	color: #354358;
	font-size: 1.3rem;
	cursor: pointer;
}

.navbar_item:hover {
	background: -webkit-linear-gradient(#43cea2, #185a9d);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* about */

.about {
	padding: 20px;
	margin: 0 -35px;
}

.about_intro {
	font-size: 1.0rem;
	padding: 20px 28px;
	margin: 10px 0;
}

.about_container {
	background-color: #dbdddf;
	padding: 30px 20px;
}

.about_heading {
	font-size: 25px;
	font-weight: 700;
	color: #354358;
	margin-left: 20px;
}

/* skillcard */

.skill-card {
	background-color: #fff;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	border-radius: 10px;
}

.skill-card-icon {
	width: 40px;
	height: 40px;
}

.skill-card-title {
	margin-left: 10px;
}

.skill-card-body {
	margin-left: 10px;
}

.skill-card-content {
	margin: 0;
	font-size: 0.9rem;
	color: #6e7e91;
}

/* resume */

.resume {
	padding-top: 20px;
}

.resume-card-heading,
.resume-language-heading {
	margin-left: 10px;
	margin-bottom: 20px;
	font-size: 1.6rem;
	font-weight: 700;
	color: #354358;
	border-right: 4px solid #185a9d;
	border-radius: 15px;
}

.resume-card-body {
	margin-top: 10px;
}

.resume-card-title {
	font-weight: 700;
}

.resume-card-name {
	font-size: 16px;
}

.resume-card-details {
	font-size: 0.9rem;
	padding-top: 5px;
}

/* bar */
.bar {
	width: 90%;
	background-color: #f1f2f3;
	border-radius: 20px;
	margin: 20px 12px;
}

.bar-icon {
	width: 15px;
	height: 15px;
	color: #000;
}

.bar-wrapper {
	background-image: linear-gradient(90deg, #43cea2, #185a9d);
	border-radius: 20px;
	padding: 4px 14px;
	color: #fff;
	font-size: 0.9rem;
}

/* projects */

.projects {
	height: 70vh;
	padding-top: 30px;
	overflow-y: auto;
}

.projectCard-wrapper {
	margin: 10px 0;
	width: 100%;
	height: 100%;
	min-height: 160px;
}

.projectCard-image {
	width: 100%;
	height: 70%;
	border-radius: 30px;
	border: 1px solid #185a9d;
	transition: transform 0.1s linear;
}

.projectCard-image:hover {
	transform: scale(1.05);
}

.projectCard-icon {
	width: 25px;
	height: 20px;
	margin-right: 5px;
}

.projectCard-title {
	margin-top: 12px;
	font: size 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.projects-navbar {
	display: flex;
	margin-bottom: 5px;
}

.projects-navbar > div {
	margin: 5px 15px 10px 15px;
	font-size: 20px;
	cursor: pointer;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.projects-navbar > div:hover {
	color: #43cea2;
}

.projects-navbar-active {
	color: #43cea2;
}

@media (max-width: 600px) {
	.app_main-content {
		margin-right: 10px;
		margin-left: 10px;
	}

	.navbar_active {
		font-size: 1.5rem;
	}

	.navbar_item {
		font-size: 1rem;
	}
}
